---
import astroLogo from '../assets/astro.svg';
import background from '../assets/background.svg';
---

<div class="relative">
	<img class="absolute w-full" src={background.src} alt="" fetchpriority="high" />
	<main>
		<section class="flex flex-col items-center justify-center h-screen text-center">	
			<h1 class="text-2xl font-bold text-green-500">
				Loco Moco
			</h1>
		</section>
	</main>
</div>

